<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Local DBeaver installation" sequenceNumber="1">
    <locations>
        <location path="C:\Program Files\DBeaver\plugins" type="Directory"/>
    </locations>
</target>